# --- ROS 2 / Colcon specific ---
build/
install/
log/

# --- VS Code specific ---
.vscode/
*.browse.vc.db-shm
*.browse.vc.db
*.browse.vc.db-wal

# --- Python specific ---
__pycache__/
*.pyc

# --- OS specific ---
.DS_Store
Thumbs.db

**/CMakeCache

**/Backup Cont.cpp